* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  margin: 2% auto 4% 3%;
}

.main-container {
  border: 1px dashed black;
  text-align: center;
}

.drop-downs {
  font-size: 30px;
}
select {
  height: 2rem;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

input {
  font-size: 30px;
  width: 7rem;
  margin-bottom: 5rem;
}

.result-currency {
  color: green;
  margin-bottom: 2rem;
}

button {
  width: 10rem;
  height: 5rem;
  margin-top: 4rem;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}
